name: Checks

# Run this workflow on every commit to every branch.
on:
  push:

jobs:
  # Test build the application.
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

  # Run all unit testing libraries, e2e tests are done seperately.
  # This uses Vitest.
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run Tests
        run: pnpm run test

  # Run e2e tests using Playwright.
  e2e:
    name: e2e Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright Browsers
        run: pnpx playwright install --with-deps

      - name: Run Playwright tests
        run: pnpm e2e

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  # All style and lint checks:
  # - Prettier check for code format.
  # - ESLint check for code quality.
  style:
    name: Style and Linting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run Prettier Check
        run: pnpm run fmt

      - name: Run Lint Check
        run: pnpm run lint

  # Creates an output of stats.html that visualizes the bundle size.
  # This uploaded as an artifact to the PR.
  bundle:
    name: Bundle Analysis
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run Prettier Bundle Analyse
        run: pnpm run bundle:analyse

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: bundle-snalysis
          path: dist/stats.html
